<!--File name:about.ejs, Student’s Name: Tejas Kale, StudentID:301237417, and Date:8th Feb 23-->

<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
<main class="container">

      <h1 class="display-4 text-center"> <%= title %> Me <img src="/Assets/images/profile2.jpg" alt="" class="rounded-circle" width="200px" height="200px"></h1>
      <h4>I am a Software development Undergraduate, completed my Bachelor's of Computer Engneering from MESCOE, Pune, India.</h4>
      <div class="text-center">
      <h5>I love being a part of hackathons, developer groups and meetups</h5>
      <h5>I enjoy collaborating with other devs for projects</h5>
       <h5>Here is my Resume with detailed technical overview </h5>
            <form method="get" action="/Assets/files/Tech_Resume_Tejas_Kale.docx">
                  <button type="submit" class="btn btn-info"><h5>Resume </h5></button>
            </form>
      </div>
         <h4>I am currently upskilling myself in </h4>
      <ul class="list-group list-group-horizontal">
            <li class="list-group-item"> <img src="/Assets/images/Unity_black.png" width="300px" height="100px"></li>
            <li class="list-group-item"> <img src="/Assets/images/blender.png" width="350px" height="100px"></li>
            <li class="list-group-item"> <img src="/Assets/images/cpp.png" width="100px" height="100px"></li>
            <li class="list-group-item"> <img src="/Assets/images/web.png" width="200px" height="100px"></li>            
      </ul>
      
          
    
      <h4>Personally I enjoy doing a lot of stufff</h4>
      <div class="text-center">
      <h5>I feel great when I play Soccer and Table Tennis</h5>
      <h5>I chill watching Animated movies, Gaming livestreams and reading Tech blogs</h5>
      </div>
</main>  

<%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>