<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>

  <!--Main nav Navigation-->

<main class="container text-center">
  
    <h1 class="display-4">Welcome to my <%= title %> </h1>
    <img src="/Assets/images/logo2.png" alt="" class="rounded-circle" width="200px" height="200px">
    <h2> I am Tejas Kale </h2>
    <h3> Aspiring to be a professional Game Developer :) <i class="fa-solid fa-gamepad fa-xl"></i> </h3>
    <h4> Currently I am enrolled in the Game programming Course at</i><a href="https://www.centennialcollege.ca/"> Centennial College</a> <i class="fa-solid fa-graduation-cap"> </i> </h4>
    <h4>I love exploring Immersive Media technologies <i class="fa-solid fa-vr-cardboard"></i> </h4>
    <h4>Know more <a href="/about"> About me </a> <i class="fa-solid fa-user-tag"></i>. Also here are some <a href="/services">Services</a> I provide <i class="fa-solid fa-computer"></i></h4>
    <h4>Here are a few of my <a href="/projects"> Projects</a> <i class="fa-solid fa-address-card"></i> as well.</h4>
    
  </main>
    
  
  <!--script section-->
  <%-include partials/bottom_nav.ejs%>
  <%-include partials/footer.ejs%>




