<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>

<main class="container">
    <h1 class="display-4"> Here are some of my <%= title %> </h1>
    <div class="column" style="margin: 20px;">
        <div class="row">
                    <div class="col"> <h5>Planet-E-Timeout</h5> <h5>A 2D Platformer game with basic adventure</h5> </div>
                    <div class="col"> <img src="/Assets/images/game2.png" alt="" width="350px" height="150px"> </div>
        </div>
    </div>
    <div class="column" style="margin: 20px;">
        <div class="row">
                    <div class="col"> <img src="/Assets/images/pet.png" alt="" width="350px" height="150px"> </div>
                    <div class="col"> <h5>Pet Set Go</h5> <h5>A Pet Care Management System </h5> </div>
        </div>
    </div>
    <div class="column" style="margin: 20px;">
        <div class="row">
                    <div class="col"> <h5>Augmented Reality Interior Design App</h5> <h5>AR app to view interior decoration in real-time</h5> </div>
                    <div class="col"> <img src="/Assets/images/ar5.jpeg" alt="" width="150px" height="300px"> </div>
        </div>
    </div>
    <div class="column" style="margin: 20px;">
        <div class="row">
                    <div class="col"> <img src="/Assets/images/spice1.png" alt="" width="350px" height="150px"> </div>
                    <div class="col"> <h5>Spice Beauty Salon</h5> <h5>Business website for a beauty parlour</h5> </div>
        </div>
    </div>

</main>


<%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>