<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>

<main class="container">
    <h1 class="display-4"> Here are some of my <%= title %> </h1>
    <div class="column">
        <div class="row">
                    <div class="col">col 1</div>
                    <div class="col">col 2</div>
        </div>
    </div>
    

</main>


<%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>