<!--File name:services.ejs, Student’s Name: Tejas Kale, StudentID:301237417, and Date:8th Feb 23-->
<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
<main class="container">
    <h1 class="display-4">Welcome to my <%= title %> page</h1>

    <h4>Currently I offer services related to Game programming <i class="fa-solid fa-gamepad"></i> and Web development <i class="fa-brands fa-connectdevelop"></i> </h4>
    <h4>I love understanding client requirements in detail and provide feasible solutions to them <i class="fa-solid fa-people-arrows"></i> at affordable market value <i class="fa-solid fa-receipt"></i></h4>
    <h4>Have a look at few of my <a href="/projects"> Projects</a> <i class="fa-solid fa-list-check"></i> to get an idea about my offerings.</h4>
    <h4>Get in touch with me anytime <a href="/contact"> here </a> <i class="fa-solid fa-address-card"></i></h4>
</main>  

<%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>